<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.Name %>
</p>

<p>
  <strong>Belt:</strong>
  <%= @player.Belt %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
